.logo_container {
  position: fixed;
  left: 0.5rem;
  top: 0.8rem;
  padding: 0.2rem;
  z-index: 5;
  user-select: none;
  font-size: 0;
  font-weight: 500;
  font-family: var(--font-sans);
  text-shadow: var(--text-shadow);
  animation: fontTo18 0.5s ease-in-out 1s forwards,
    appear 1.5s ease-in-out 1s forwards;
}

.logo_container::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--grey);
  transform-origin: center bottom;
  transform: scaleY(0);
  transition: transform 0.7s ease-in-out;
}

.logo_text_underlined {
  text-decoration: underline;
}

@media (hover: hover) {
  .logo_container:hover {
    text-shadow: none;
    color: var(--white);
    cursor: pointer;
  }
  .logo_container:hover::before {
    transform-origin: center top;
    transform: scaleY(1);
  }
}