.nav_box {
  width: 10rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_button {
  font: var(--h1);
  padding: 2rem 1rem;
  background-color: transparent;
  transform: rotate(-90deg);
  transition: var(--transition-slow);
  cursor: pointer;
  outline: none;
}

.nav_button_active {
  color: var(--accent);
}

@media (hover: hover) and (min-width: 500px) {
  .nav_button:hover {
    transform: none;
    height: 80%;
    width: 250%;
    padding-left: 10rem;
    padding-right: 2rem;
    background-color: var(--white80);
    border-radius: 0 0.4rem 0.4rem 0;
  }
}

@media (max-width: 499px) {
  .nav_box {
    width: 13rem;
    height: 5rem;
    justify-content: flex-start;
  }
  .nav_button {
    padding: 1rem;
    transform: none;
    color: var(--white);
  }
}
